/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    max-width: 100%;
    margin: 0;
    background-image: url("../images/nyc-gebouwen.jpeg");
    background-color: var(--kleur-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

body {
    overflow: hidden;
}

button:not([disabled]) {
    cursor: pointer;
}

/* jouw CSS vanaf hier */

/***********************/
/***CUSTOM PROPERTIES***/
/***********************/
:root {
    --kleur-merk: crimson;
    --kleur-basis: #fff;
    --kleur-schaduw: #000;
    --kleur-gloei: rgb(200 0 0);
    --kleur-spreadSchaduw: rgb(0 0 50);
    --kleur-background: rgb(120 120 120 /0.5);
}




/***********************/
/******TYPOGRAFIE*******/
/***********************/
h1 {
    font-family: "Verdana";
    color: var(--kleur-merk);
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    text-shadow:
        .005em .02em 0em var(--kleur-schaduw),
        .01em .04em 0em var(--kleur-schaduw),
        .015em .06em 0em var(--kleur-schaduw),
        .02em .08em 0em var(--kleur-schaduw),
        .025em .10em 0em var(--kleur-schaduw),
        .03em .12em 0em var(--kleur-schaduw),
        .035em .14em 0em var(--kleur-schaduw),
        .04em .16em 0em var(--kleur-schaduw),
        .045em .18em 0em var(--kleur-schaduw),
        .05em .2em 0em var(--kleur-schaduw),
        0 0 .8em var(--kleur-spreadSchaduw);
}

h2 {
    font-family: "Brush Script MT", cursive;
    color: var(--kleur-basis);
    text-align: center;
    font-size: 3vw;
    margin: 0;
    padding: 0;
    text-shadow:
        .05em .05em 0em var(--kleur-schaduw),
        0 0 .8em var(--kleur-spreadSchaduw);
}

h2 + p {
    color: var(--kleur-basis);
    text-align: center;
}

h3 {
    font-family: "Verdana";
    color: var(--kleur-basis);
}

p {
    color: var(--kleur-basis);
}

/***********************/
/*******ALGEMEEN********/
/***********************/

/* afbeelding maguire button veranderen */
body[data-verse="maguire"] li:nth-of-type(1) button img {
    content: url("../images/spiderman-maguire-mj.png");
}

/* snelheid portal */
body[data-verse="maguire"] li:nth-of-type(1) button::after {
    animation-duration: .4s;
}

body[data-verse"maguire"] li:nth-of-type(1) img {
    content: url("../images/maguire-text.png");
}

/* afbeelding garfield button veranderen */
body[data-verse="garfield"] li:nth-of-type(2) button img {
    content: url("../images/spiderman-garfield-mj.png");
}

/* snelheid portal */
body[data-verse="garfield"] li:nth-of-type(2) button::after {
    animation-duration: .4s;
}

/* afbeelding holland button veranderen */
body[data-verse="holland"] li:nth-of-type(3) button img {
    content: url("../images/spiderman-holland-mj.png");
}

/* snelheid portal */
body[data-verse="holland"] li:nth-of-type(3) button::after {
    animation-duration: .4s;
}

header {
    display: grid;
    place-items: center;
    padding: 2em;
    gap: 1em;
}

header img {
    height: 2.5vw;
    width: 5vw;
    box-shadow: 0 0 .8em var(--kleur-spreadSchaduw);
}

button img {
    width: 100%;
}

ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 2em;
    list-style: none;
    gap: 10em;
}

li {
    position: relative;

}

/***********************/
/********BUTTONS********/
/***********************/
button {
    position: relative;
    display: block;
    width: 22vw;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: none;
    transition: .5s;
}

/* portal opmaak */
button::after {
    content: "";
    position: absolute;
    inset: -25%;
    background-image: url('../images/portal.png');
    background-size: cover;
    animation-name: gateway;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* animatie portal */
li:nth-of-type(1) button:after {
    animation-duration: .9s;
    animation-delay: .17s;
}

li:nth-of-type(2) button:after {
    animation-duration: 1s;
    animation-delay: .31s;
}

li:nth-of-type(3) button:after {
    animation-duration: .9s;
    animation-delay: .47s;
}


li:hover button {
    transform: scale(1.8);
}

li:hover {
    z-index: 100;
}

li button:focus {
    filter: drop-shadow(0 0 5em var(--kleur-schaduw));
}

li button:active {
    opacity: .5;
}


/* infovak */
section {
    position: absolute;
    z-index: 1000;
    width: 20em;
    background-color: var(--kleur-schaduw);
    border-radius: .5em;
    box-shadow: 0 0 .8em var(--kleur-schaduw);
    padding: 1em 3em;
}

section::before {
    content: "";
    position: absolute;
    left: 4em;
    top: 0em;
    width: 1em;
    height: 2em;
    box-shadow:
        14em 0 0 var(--kleur-basis),
        14em 4em 0 var(--kleur-basis),
        14em 8em 0 var(--kleur-basis),
        14em 12em 0 var(--kleur-basis),
        14em 16em 0 var(--kleur-basis),
        14em 20em 0 var(--kleur-basis),
        -3em 0 0 var(--kleur-basis),
        -3em 4em 0 var(--kleur-basis),
        -3em 8em 0 var(--kleur-basis),
        -3em 12em 0 var(--kleur-basis),
        -3em 16em 0 var(--kleur-basis),
        -3em 20em 0 var(--kleur-basis);
}

section::after {
    content: "";
    position: absolute;
    inset: -35%;
    background-image: url('../images/spider-web.png');
    background-repeat: no-repeat;
}

li:nth-of-type(1) section {
    right: -16em;
    bottom: 100%;
    transform-origin: left bottom;
    transform: scale(0);
    transition: .2s;
}

li:nth-of-type(1):hover section {
    transform: scale(1);
}

li:nth-of-type(2) section {
    right: -10em;
    bottom: 100%;
    transform-origin: left bottom;
    transform: scale(0);
    transition: .2s;

}

li:nth-of-type(2):hover section {
    transform: scale(1);
}

li:nth-of-type(3) section {
    right: 16em;
    bottom: 100%;
    transform-origin: right bottom;
    transform: scale(0);
    transition: .2s;

}

li:nth-of-type(3):hover section {
    transform: scale(1);
}



/* animatie draaien */
@keyframes gateway {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes text {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(100);
    }
}
